<div class="text-center">
  <form class="form-signin" name="signin" (ngSubmit)="login()" #f="ngForm" novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Login</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Login" name="login" [(ngModel)]="user.username" required autofocus>
    <div><br></div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password"  required>
    <div><br></div>
    <div>{{errormessage}}</div>
    <button routerLink="/main" class="btn btn-lg btn-primary btn-block" id="button" type="submit">Sign in</button>
    <a routerLink="/register" class="btn btn-link" id="link">Create new Account!</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</div>
