
@media (min-width: 700px) {
  html {
    font-size: 14px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

#theme{
  width: 15%;
  margin-right: 10px;
  font-size: 15px;
}

#theme:hover {
  box-shadow: 250px 0 0 0 rgba(0,0,100,.13) inset;
}
.head-img{
  width: 3%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 700px) and (max-width: 1243px){
  #theme{
    width: 30%;
  }
}
@media only screen and (max-width: 700px){
  #theme{
    width: 50%;
  }
}
