
@media (min-width: 700px) {
  html {
    font-size: 14px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

#theme{
  width: 15%;
  margin-right: 10px;
  font-size: 15px;
}
#theme:hover {
  box-shadow: 250px 0 0 0 rgba(0,0,100,.13) inset;
}
.footer{
  width: 100%;
  height: 7%;
  position: fixed;
  left: 0; bottom: 0;
  padding: 0.5%;
  margin: 0;
  display: flex;
  justify-content: center;
}
.github{
  width: 8%;
  padding-left: 50%;
}

