<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="header">
  <h6 class="my-0 mr-md-auto font-weight-normal">Ходосова Елена, Супрядкина Дарья P3230</h6><img class="head-img" src="../assets/images/kind.gif" id="kind"
                                                                                                 onmouseover="this.src='../assets/images/angry.gif'"
                                                                                                 onmouseout="this.src='../assets/images/kind.gif'">
  <button  class="btn btn-lg btn-primary btn-block" id="theme" (click)="changeTheme()">Change theme</button>
  <span>    Вариант 2633</span>
</div>
<router-outlet></router-outlet>

