<div class="text-center" id="content" (window:resize)="resize(graphic, r_in.value)">
  <form class="form-signin">
    <button class="btn btn-outline-primary" (click)="logout()" routerLink="/login" style="float: right; margin-right: 5px">Sign out</button>
    <button class="btn btn-outline-primary" style="float: left; margin-left: 5px" routerLink="/npe">Catch NPE</button>
    <div><br></div>
    <div><br></div>
    <!--    <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <h1 class="h3 mb-3 font-weight-normal">Заполните форму или нажмите на изображение </h1>
    <a id="hiddenButton" style="margin: auto" class="hiddenButton" (click)="click('form')">{{formName}} Form</a>
    <div class="child" style="float: right">
<!--      <button class="btn btn-outline-primary" (click)="logout()" routerLink="/login">Sign out</button>-->
    </div>
    <!--    <button id="hiddenCanvas" style="margin: 2px" type="button" class="btn btn-outline-primary hiddenButton" (click)="click('canvas')">Graphic</button>-->
    <form id="form" #f="ngForm" (ngSubmit)="clickButton()" novalidate>
      <label for="x_in">Введите x:</label><br>
      <input type="text" id="x_in" pInputText placeholder="(-3, 3)" name="x" maxlength="5" #x_in (input)="validateX(x_in.value);graphic.moveDot(x_in.value, y_in.value, r_in.value);fillCanvas(r_in.value)" [(ngModel)]="point.x" #x="ngModel" required/><br>
      <div *ngIf="x.dirty || x.touched">
        {{errorX}}
      </div>
      <label for="y_in">Введите y:</label><br>
      <input type="text" id="y_in" pInputText placeholder="(-3, 3)" name="y" maxlength="5" #y_in (input)="validateY(y_in.value);graphic.moveDot(x_in.value, y_in.value, r_in.value);fillCanvas(r_in.value)" [(ngModel)]="point.y" #y="ngModel" required/><br>
      <div *ngIf="y.dirty || y.touched">
        {{errorY}}
      </div>
      <label for="r_in">Введите r:</label><br>
      <input type="text" id="r_in" pInputText placeholder="(-3, 3)" name="r" maxlength="5" #r_in (input)="validateR(r_in.value);graphic.moveDot(x_in.value, y_in.value, r_in.value);fillCanvas(r_in.value)" [(ngModel)]="point.r" #r="ngModel" required pattern="[0-3]"/>
        <div *ngIf="r.dirty || r.touched">
        {{errorR}}
      </div>
      <br><br>
      <div style="text-align: center">
        <button id="send" style="margin: 2px" type="submit" class="btn btn-outline-primary">Send</button>
        <button id="clear" (click)="clear(graphic, r_in.value)" style="margin: 2px" type="button" class="btn btn-outline-primary">Clear</button>
      </div>
    </form>
    <br>
    <a id="hiddenCanvas" style="margin: auto; text-align: center"  class="hiddenButton" (click)="click('canvas')"><span id = 'canvasName'>{{canvasName}} Graphic</span></a>
    <br>
    <app-graphic #graphic (click)="graphic.canvasClick(point, x_in, y_in, r_in)"></app-graphic>
    <br>
    <table id="main-table" class="table">
    </table>
    <div><br></div>
    <div><br></div>
  </form>
</div>

<footer class="mastfoot mt-auto shadow-lg bg-white" id="footer" style="text-align: center">
  <div class="inner">
    <a href="https://github.com/SuDarina/Web4"><img style="width: 50px" src="/assets/images/icon.png" alt="github" id="img"></a><br>
    <span id="copyright">&copy; 2020</span>
  </div>
</footer>


