/* You can add global styles to this file, and also import other style files */

@import "~primeng/resources/primeng.css";
@import "theme.scss";

body{
  margin: 0;
  padding: 0;
  font-family: Arial, monospace;
  font-size: 12pt;
  font-style: inherit;
}

@media only screen and (max-width: 700px) {
  .head-img{
    display: none;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1243px){
  .head-img{
    display: none;
  }
}
